$Ansible.Result["folder_sizes"] = @()
$Ansible.Changed = $false;
$shares = Get-SmbShare -CimSession {{ server }}

foreach($share in $shares | Where Path) {
  $children = Get-ChildItem -Path "\\{{ server}}\$($share.Name)" | Where PSIsContainer | Select-Object -Property FullName
  foreach($child in $children) {
    $size =  (Get-ChildItem $child.FullName -File -Recurse -Depth 1 | Measure Length -Sum).Sum / 1Mb
    $Ansible.Result["folder_sizes"] += [PSCustomObject]@{
      Server = "{{ server}}"
      Share = $share.Name
      FolderName = $child.FullName
      SizeMB = if ($size -eq $null) { 0 } else { $size }
    }
    $Ansible.Changed = $true;
  }
}