---
- hosts: all
  gather_facts: true

  tasks:
  # - debug:
  #     msg: "{{ vault_ansible_password }}"
  #     var: ansible_facts 
    - name: Run PowerShell script
      register: r_pwsh
      ansible.windows.win_powershell:
        script: "{{ lookup('template', 'powershell.ps1.j2') }}"
      environment:
        SECRET_TOKEN: "{{ generic_token }}"

    # - name: get powershell version linux
    #   shell: |
    #     $ver = $PSVersionTable
    #     return $PSVersionTable.PSVersion.Major
    #   args:
    #     executable: /usr/bin/pwsh
    #   register: ps_major_version
    #   delegate_to: localhost

    - name: print powershell version
      ansible.builtin.debug:
        var: r_pwsh
